/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'TikTok Sans', sans-serif;
}

/* Button Reset */
button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

/* Link Reset */
a {
  text-decoration: none;
  color: inherit;
}

video {
  height: 100%;
  width: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

i {
  color: white;
}

/* Page Container */
.reel-page {
  height: 100vh;
  max-width: 512px;
  min-width: 400px;
  position: relative;
}

/* Header */
.reel-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  padding: 1rem 1.15rem;

  /* Left and right icons */
  i {
    font-size: 1.2rem;
  }

  /* Navigation buttons */
  nav {
    display: flex;
    gap: 0.625rem;

    button {
      position: relative;
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: -0.02em;
      color: rgba(255, 255, 255, 0.5);

      /* New content indicator */
      &.new-content::after {
        content: '';
        position: absolute;
        top: -0.2rem;
        right: -0.4rem;
        width: 0.38rem;
        height: 0.38rem;
        background-color: rgba(241, 32, 74, 0.4);
        border-radius: 50%;
      }

      /* Active button */
      &.active {
        color: #fff;

        /* Active button bottom border */
        &::after {
          content: '';
          position: absolute;
          bottom: -0.4rem;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 2px;
          background-color: #fff;
        }
      }
    }
  }
}

/* Sidebar */
.sidebar {
  padding: 0 1rem;
  position: absolute;
  right: 0;
  top: 40%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  /* Profile actions  */
  .profile {
    position: relative;

    /* Avatar */
    .avatar-link {
      img {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        padding: 0.1rem;
      }
    }

    /* Follow button */
    .follow-button {
      position: absolute;
      bottom: -0.3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 1.2rem;
      height: 1.2rem;
      background-color: #ff3b5c;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      .plus {
        display: inline-block;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        position: relative;
        top: -1px;
      }
    }
  }

  /* Sidebar buttons */
  button {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 0.75rem;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;

  /* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
DEBUG MODE
--------------------- */
/* .debug .reel-header {
  min-height: 50px;
  border: 2px dashed #fff;
} */

.debug footer {
  min-height: 130px;
  border: 2px dashed #fff;
}

/* .debug .sidebar {
  min-width: 80px;
  min-height: 450px;
  border: 2px dashed #ff0;
} */
/* --------------------- */
